@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background-color: rgb(245, 245, 245)
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 0px;



}

.child {
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 32px;
    font-weight: 800;
    line-height: 38px;
    letter-spacing: 0%;
    text-align: left;
}

.new {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 30px 15px 30px;

    color: rgb(0, 106, 80);
    font-family: Fira Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
    background: none;
    cursor: pointer;



    margin: 0px 10px;
    box-sizing: border-box;
    border: 1px solid rgb(0, 106, 80);
    border-radius: 8px;
}

.banner {
    border-radius: 24px;
    background-color: rgb(198, 228, 214);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

}

.container {
    width: 1280px;
    margin: auto;
}

.photo {
    padding: 60px;
}

.div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 64;
    padding: 0px 50px;
    margin: 64px 0px;
}

.h1 {
    color: rgba(14, 14, 14, 0.5);
    font-family: Fira Sans;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: left;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px;
    margin: 16px 0px;

}

.p {
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 50px;
    font-weight: 700;
    line-height: 67px;
    letter-spacing: 0%;
    text-align: left;

    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 16px 0px;
}

.button {
    border-radius: 8px;

    background: rgb(0, 106, 80);
    cursor: pointer;

    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 24px 0px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 17px 34px 17px 34px;

    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
}

.pillar1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 15px;

}

.title1 {

    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: left;
}



.card {


    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 24px;
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;

    background: rgb(255, 255, 255);
}

.title {

    font-size: 20px;
    font-weight: bold;
}

.tap1 {
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: left;
}

.tap2 {
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}

.vision {
    display: flex;
}

.card1 {
    box-sizing: border-box;
    border-radius: 16px;

    background: rgba(84, 144, 245, 0.2);
    margin-right: 24px;
    padding: 24px;
}

.new1 {
    border-radius: 8px;
    background: rgb(84, 144, 245);
    /* margin: 24px 0px; */
    padding: 11px 20px 11px 20px;
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
    border: none;
}

.card2 {
    box-sizing: border-box;
    border-radius: 16px;

    background: rgb(198, 228, 214);
    margin: 0px 24px;
    padding: 24px;
}

.new2 {
    border-radius: 8px;

    background: rgb(9, 161, 92);
    /* margin: 10px 0px; */
    padding: 11px 20px 11px 20px;

    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
    border: none;
}

.card3 {
    box-sizing: border-box;
    border-radius: 16px;

    background: rgb(247, 235, 207);
    margin: 0px 24px;
    padding: 24px;
}

.new3 {
    border-radius: 8px;

    background: rgb(255, 194, 57);
    padding: 11px 20px 11px 20px;
    /* margin: 10px 0px; */
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
    border: none;
}

.tool {
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}

.p1 {
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}

.one {
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: left;
}

.two {
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}

.setaligin1 {

    display: flex;
    background: #fff;
    border-radius: 25px;
    padding: 31px;
    gap: 30px;
}

.forImage {
    border-radius: 24px;
    padding: 26px;
}



.contents {
    border-radius: 24px;

    background: rgb(255, 255, 255);
}

.forh1 {
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0%;
    text-align: left;
}

.b {
    border-radius: 8px;
    background: rgb(0, 106, 80);
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
    
      

    
    margin: 13px 0px;
    cursor: pointer;
    padding: 10px;
  }




.forDate {
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}